src/main/resources/responsewrapper.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ibans" type="responseWrapper"/>

  <xs:element name="response" type="response"/>

  <xs:complexType name="responseWrapper">
    <xs:sequence>
      <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="response">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="valid" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

